extends layout
block content
  .container
      h2 
        p
         | Hava Durumu Uygulaması
      br
      br
      .row
        .col-md-3
          form(method="post", action="get_weather")
            .form-group
              label.sr-only(for="city") Şehir Adı
              input.form-control( name="city" type="text" placeholder="Şehir Adı Girin (Ör: New York)" required='required')
            button.btn.btn-success(type="submit") Hava Durumu Getir
      if error
        br
        .alert.alert-danger #{error}
      if weather
        .row
          .col-md-5
            p
            br
            .panel.panel-primary
              .panel-heading Hava Durumu: #{weather.name}, #{weather.sys.country}
              .panel-body
               p Şimdiki Sıcklık = #{weather.main.temp} !{units}, #{weather.weather[0].description}
               p Nem Oranı = #{weather.main.humidity} &#37;
               p En Düşük = #{weather.main.temp_min} !{units}
               p En Yüksek = #{weather.main.temp_max} !{units}
